body {
    margin: 0;
    padding: 0;
}
/* titulo do programa */
#title-sidebar{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #fff;
}
/* Icone do menu */
#Icon-Menu{
    height: 25px;
    width: 25px;
    transition: width 0.5s ease;
    overflow: hidden;
}
/* Boas vindas ao software */
#welcome-sidebar{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: white;
}

/* Name do User */

#welcome-sidebar-user{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: white;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    border-left: none;
    border-right: none;
}

/* Sidebar */

#sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: 100vh;
    background-color: #810103;
    flex-shrink: 0;
    transition: width 0.5s ease;
    overflow: hidden;
}

/* Conteudo sidebar */

#menu-sidebar{
    display: none;
    height: 100%;
    width: 100%;
    transition: 0.9s ease;
    overflow: hidden;
}
#sidebar:hover {
    width: 100px;
    #menu-sidebar{
        display: block;
    }
}

/* Links sidebar */

#options-sidebar-home{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 100%;
    border-bottom: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: white;
    transition: height 0.3s ease;
}

#options-sidebar-home:hover{
        cursor: pointer;
        background-color: #810103;
        transition: 1s;
    }

/* Style settings */

#settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: white;
    transition: height 0.3s ease;
}

/* Style option sidebar */

#picking{
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: white;
    text-decoration: none;
}
/* Style option sidebar Perfil */
#options-sidebar-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    height: 5vh;
    width: 100%;
    border-bottom: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: white;
    transition: height 0.3s ease;
}

#options-sidebar-perfil:hover{
    height: 13vh;
    background-color: #810103;
    #picking{
        display:flex;
        height: 6vh;
        width: 100%;
        align-items: center;
        justify-content: center;
        background-color: rgb(87, 0, 0);
        border-top: 1px solid white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        color: white;
    }
    #picking:hover{
        cursor: pointer;
        transition: 1s;
    }
}
/* Style option sidebar estoque */
#options-sidebar-estoque{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    height: 5vh;
    width: 100%;
    border-bottom: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: white;
    transition: height 0.3s ease;
}

#options-sidebar-estoque:hover{
    height: 18vh;
    background-color: #810103;
    #picking{
        display:flex;
        height: 9vh;
        width: 100%;
        align-items: center;
        justify-content: center;
        background-color: rgb(87, 0, 0);
        border-top: 1px solid white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        color: white;
    }
    #picking:hover{
        cursor: pointer;
        transition: 1s;
    }
}
/* Style option picking */
#options-sidebar-picking{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 100%;
    border-bottom: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: white;
    transition: height 0.3s ease;
}

#options-sidebar-picking:hover{
    height: 13vh;
    background-color: #810103;
    cursor: pointer;
    #picking{
        display:flex;
        height: 6vh;
        width: 100%;
        align-items: center;
        justify-content: center;
        border-top: 1px solid white;
        background-color: rgb(87, 0, 0);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        color: white;
    }
    #picking:hover{
        cursor: pointer;
        transition: 1s;
    }
}